!pip install absl-py==1.4.0
!pip install accelerate==0.28.0
!pip install aiohttp==3.9.3
!pip install aiosignal==1.3.1
!pip install alabaster==0.7.16
!pip install albumentations==1.3.1
!pip install altair==4.2.2
!pip install annotated-types==0.6.0
!pip install anyio==3.7.1
!pip install appdirs==1.4.4
!pip install argon2-cffi==23.1.0
!pip install argon2-cffi-bindings==21.2.0
!pip install array_record==0.5.1
!pip install arviz==0.15.1
!pip install astropy==5.3.4
!pip install astunparse==1.6.3
!pip install async-timeout==4.0.3
!pip install atpublic==4.1.0
!pip install attrs==23.2.0
!pip install audioread==3.0.1
!pip install autograd==1.6.2
!pip install Babel==2.14.0
!pip install backcall==0.2.0
!pip install beautifulsoup4==4.12.3
!pip install bidict==0.23.1
!pip install bigframes==1.0.0
!pip install bitsandbytes==0.43.0
!pip install bleach==6.1.0
!pip install blinker==1.4
!pip install blis==0.7.11
!pip install blosc2==2.0.0
!pip install bokeh==3.3.4
!pip install bqplot==0.12.43
!pip install branca==0.7.1
!pip install build==1.2.1
!pip install CacheControl==0.14.0
!pip install cachetools==5.3.3
!pip install catalogue==2.0.10
!pip install certifi==2024.2.2
!pip install cffi==1.16.0
!pip install chardet==5.2.0
!pip install charset-normalizer==3.3.2
!pip install chex==0.1.86
!pip install click==8.1.7
!pip install click-plugins==1.1.1
!pip install cligj==0.7.2
!pip install cloudpathlib==0.16.0
!pip install cloudpickle==2.2.1
!pip install cmake==3.27.9
!pip install cmdstanpy==1.2.2
!pip install colorcet==3.1.0
!pip install colorlover==0.3.0
!pip install colour==0.1.5
!pip install community==1.0.0b1
!pip install confection==0.1.4
!pip install cons==0.4.6
!pip install contextlib2==21.6.0
!pip install contourpy==1.2.0
!pip install cryptography==42.0.5
!pip install cufflinks==0.17.3
!pip install cupy-cuda12x==12.2.0
!pip install cvxopt==1.3.2
!pip install cvxpy==1.3.3
!pip install cycler==0.12.1
!pip install cymem==2.0.8
!pip install Cython==3.0.10
!pip install dask==2023.8.1
!pip install datascience==0.17.6
!pip install datasets==2.18.0
!pip install db-dtypes==1.2.0
!pip install dbus-python==1.2.18
!pip install debugpy==1.6.6
!pip install decorator==4.4.2
!pip install defusedxml==0.7.1
!pip install dill==0.3.8
!pip install distributed==2023.8.1
!pip install distro==1.7.0
!pip install dlib==19.24.2
!pip install dm-tree==0.1.8
!pip install docker-pycreds==0.4.0
!pip install docstring_parser==0.16
!pip install docutils==0.18.1
!pip install dopamine-rl==4.0.6
!pip install duckdb==0.9.2
!pip install earthengine-api==0.1.395
!pip install easydict==1.13
!pip install ecos==2.0.13
!pip install editdistance==0.6.2
!pip install eerepr==0.0.4
!pip install en-core-web-sm==3.7.1
!pip install entrypoints==0.4
!pip install et-xmlfile==1.1.0
!pip install etils==1.7.0
!pip install etuples==0.3.9
!pip install exceptiongroup==1.2.0
!pip install fastai==2.7.14
!pip install fastcore==1.5.29
!pip install fastdownload==0.0.7
!pip install fastjsonschema==2.19.1
!pip install fastprogress==1.0.3
!pip install fastrlock==0.8.2
!pip install filelock==3.13.3
!pip install fiona==1.9.6
!pip install firebase-admin==5.3.0
!pip install Flask==2.2.5
!pip install flatbuffers==24.3.25
!pip install flax==0.8.2
!pip install folium==0.14.0
!pip install fonttools==4.50.0
!pip install frozendict==2.4.1
!pip install frozenlist==1.4.1
!pip install fsspec==2023.6.0
!pip install future==0.18.3
!pip install gast==0.5.4
!pip install gcsfs==2023.6.0
!pip install GDAL==3.6.4
!pip install gdown==4.7.3
!pip install geemap==0.32.0
!pip install gensim==4.3.2
!pip install geocoder==1.38.1
!pip install geographiclib==2.0
!pip install geopandas==0.13.2
!pip install geopy==2.3.0
!pip install gin-config==0.5.0
!pip install gitdb==4.0.11
!pip install GitPython==3.1.43
!pip install glob2==0.7
!pip install google==2.0.3
!pip install google-ai-generativelanguage==0.4.0
!pip install google-api-core==2.11.1
!pip install google-api-python-client==2.84.0
!pip install google-auth==2.27.0
!pip install google-auth-httplib2==0.1.1
!pip install google-auth-oauthlib==1.2.0
!pip install google-cloud-aiplatform==1.46.0
!pip install google-cloud-bigquery==3.12.0
!pip install google-cloud-bigquery-connection==1.12.1
!pip install google-cloud-bigquery-storage==2.24.0
!pip install google-cloud-core==2.3.3
!pip install google-cloud-datastore==2.15.2
!pip install google-cloud-firestore==2.11.1
!pip install google-cloud-functions==1.13.3
!pip install google-cloud-iam==2.14.3
!pip install google-cloud-language==2.13.3
!pip install google-cloud-resource-manager==1.12.3
!pip install google-cloud-storage==2.8.0
!pip install google-cloud-translate==3.11.3
!pip install google-colab==1.0.0
!pip install google-crc32c==1.5.0
!pip install google-generativeai==0.3.2
!pip install google-pasta==0.2.0
!pip install google-resumable-media==2.7.0
!pip install googleapis-common-protos==1.63.0
!pip install googledrivedownloader==0.4
!pip install graphviz==0.20.3
!pip install greenlet==3.0.3
!pip install grpc-google-iam-v1==0.13.0
!pip install grpcio==1.62.1
!pip install grpcio-status==1.48.2
!pip install gspread==3.4.2
!pip install gspread-dataframe==3.3.1
!pip install gym==0.25.2
!pip install gym-notices==0.0.8
!pip install h5netcdf==1.3.0
!pip install h5py==3.9.0
!pip install holidays==0.46
!pip install holoviews==1.17.1
!pip install html5lib==1.1
!pip install httpimport==1.3.1
!pip install httplib2==0.22.0
!pip install huggingface-hub==0.20.3
!pip install humanize==4.7.0
!pip install hyperopt==0.2.7
!pip install ibis-framework==8.0.0
!pip install idna==3.6
!pip install imageio==2.31.6
!pip install imageio-ffmpeg==0.4.9
!pip install imagesize==1.4.1
!pip install imbalanced-learn==0.10.1
!pip install imgaug==0.4.0
!pip install importlib_metadata==7.1.0
!pip install importlib_resources==6.4.0
!pip install imutils==0.5.4
!pip install inflect==7.0.0
!pip install iniconfig==2.0.0
!pip install intel-openmp==2023.2.4
!pip install ipyevents==2.0.2
!pip install ipyfilechooser==0.6.0
!pip install ipykernel==5.5.6
!pip install ipyleaflet==0.18.2
!pip install ipython==7.34.0
!pip install ipython-genutils==0.2.0
!pip install ipython-sql==0.5.0
!pip install ipytree==0.2.2
!pip install ipywidgets==7.7.1
!pip install itsdangerous==2.1.2
!pip install jax==0.4.23
!pip install jaxlib==0.4.23+cuda12.cudnn89
!pip install jeepney==0.7.1
!pip install jieba==0.42.1
!pip install Jinja2==3.1.3
!pip install joblib==1.3.2
!pip install jsonpickle==3.0.3
!pip install jsonschema==4.19.2
!pip install jsonschema-specifications==2023.12.1
!pip install jupyter-client==6.1.12
!pip install jupyter-console==6.1.0
!pip install jupyter_core==5.7.2
!pip install jupyter-server==1.24.0
!pip install jupyterlab_pygments==0.3.0
!pip install jupyterlab_widgets==3.0.10
!pip install kaggle==1.5.16
!pip install kagglehub==0.2.2
!pip install keras==2.15.0
!pip install keyring==23.5.0
!pip install kiwisolver==1.4.5
!pip install langcodes==3.3.0
!pip install launchpadlib==1.10.16
!pip install lazr.restfulclient==0.14.4
!pip install lazr.uri==1.0.6
!pip install lazy_loader==0.3
!pip install liac-arff==2.5.0
!pip install libclang==18.1.1
!pip install librosa==0.10.1
!pip install lightgbm==4.1.0
!pip install linkify-it-py==2.0.3
!pip install llvmlite==0.41.1
!pip install locket==1.0.0
!pip install logical-unification==0.4.6
!pip install lxml==4.9.4
!pip install malloy==2023.1067
!pip install Markdown==3.6
!pip install markdown-it-py==3.0.0
!pip install MarkupSafe==2.1.5
!pip install matplotlib==3.7.1
!pip install matplotlib-inline==0.1.6
!pip install matplotlib-venn==0.11.10
!pip install mdit-py-plugins==0.4.0
!pip install mdurl==0.1.2
!pip install miniKanren==1.0.3
!pip install missingno==0.5.2
!pip install mistune==0.8.4
!pip install mizani==0.9.3
!pip install mkl==2023.2.0
!pip install ml-dtypes==0.2.0
!pip install mlxtend==0.22.0
!pip install more-itertools==10.1.0
!pip install moviepy==1.0.3
!pip install mpmath==1.3.0
!pip install msgpack==1.0.8
!pip install multidict==6.0.5
!pip install multipledispatch==1.0.0
!pip install multiprocess==0.70.16
!pip install multitasking==0.0.11
!pip install murmurhash==1.0.10
!pip install music21==9.1.0
!pip install natsort==8.4.0
!pip install nbclassic==1.0.0
!pip install nbclient==0.10.0
!pip install nbconvert==6.5.4
!pip install nbformat==5.10.3
!pip install nest-asyncio==1.6.0
!pip install networkx==3.2.1
!pip install nibabel==4.0.2
!pip install nltk==3.8.1
!pip install notebook==6.5.5
!pip install notebook_shim==0.2.4
!pip install numba==0.58.1
!pip install numexpr==2.9.0
!pip install numpy==1.25.2
!pip install nvidia-cublas-cu12==12.1.3.1
!pip install nvidia-cuda-cupti-cu12==12.1.105
!pip install nvidia-cuda-nvrtc-cu12==12.1.105
!pip install nvidia-cuda-runtime-cu12==12.1.105
!pip install nvidia-cudnn-cu12==8.9.2.26
!pip install nvidia-cufft-cu12==11.0.2.54
!pip install nvidia-curand-cu12==10.3.2.106
!pip install nvidia-cusolver-cu12==11.4.5.107
!pip install nvidia-cusparse-cu12==12.1.0.106
!pip install nvidia-nccl-cu12==2.19.3
!pip install nvidia-nvjitlink-cu12==12.4.127
!pip install nvidia-nvtx-cu12==12.1.105
!pip install oauth2client==4.1.3
!pip install oauthlib==3.2.2
!pip install opencv-contrib-python==4.8.0.76
!pip install opencv-python==4.8.0.76
!pip install opencv-python-headless==4.9.0.80
!pip install openpyxl==3.1.2
!pip install opt-einsum==3.3.0
!pip install optax==0.2.2
!pip install orbax-checkpoint==0.4.4
!pip install osqp==0.6.2.post8
!pip install packaging==24.0
!pip install pandas==2.0.3
!pip install pandas-datareader==0.10.0
!pip install pandas-gbq==0.19.2
!pip install pandas-stubs==2.0.3.230814
!pip install pandocfilters==1.5.1
!pip install panel==1.3.8
!pip install param==2.1.0
!pip install parso==0.8.3
!pip install parsy==2.1
!pip install partd==1.4.1
!pip install pathlib==1.0.1
!pip install patsy==0.5.6
!pip install peewee==3.17.1
!pip install peft==0.10.0
!pip install pexpect==4.9.0
!pip install pickleshare==0.7.5
!pip install Pillow==9.4.0
!pip install pip==23.1.2
!pip install pip-tools==6.13.0
!pip install platformdirs==4.2.0
!pip install plotly==5.15.0
!pip install plotnine==0.12.4
!pip install pluggy==1.4.0
!pip install polars==0.20.2
!pip install pooch==1.8.1
!pip install portpicker==1.5.2
!pip install prefetch-generator==1.0.3
!pip install preshed==3.0.9
!pip install prettytable==3.10.0
!pip install proglog==0.1.10
!pip install progressbar2==4.2.0
!pip install prometheus_client==0.20.0
!pip install promise==2.3
!pip install prompt-toolkit==3.0.43
!pip install prophet==1.1.5
!pip install proto-plus==1.23.0
!pip install protobuf==3.20.3
!pip install psutil==5.9.5
!pip install psycopg2==2.9.9
!pip install ptyprocess==0.7.0
!pip install py-cpuinfo==9.0.0
!pip install py4j==0.10.9.7
!pip install pyarrow==14.0.2
!pip install pyarrow-hotfix==0.6
!pip install pyasn1==0.6.0
!pip install pyasn1_modules==0.4.0
!pip install pycocotools==2.0.7
!pip install pycparser==2.22
!pip install pydantic==2.6.4
!pip install pydantic_core==2.16.3
!pip install pydata-google-auth==1.8.2
!pip install pydot==1.4.2
!pip install pydot-ng==2.0.0
!pip install pydotplus==2.0.2
!pip install PyDrive==1.3.1
!pip install PyDrive2==1.6.3
!pip install pyerfa==2.0.1.1
!pip install pygame==2.5.2
!pip install Pygments==2.16.1
!pip install PyGObject==3.42.1
!pip install PyJWT==2.3.0
!pip install pymc==5.10.4
!pip install pymystem3==0.2.0
!pip install PyOpenGL==3.1.7
!pip install pyOpenSSL==24.1.0
!pip install pyparsing==3.1.2
!pip install pyperclip==1.8.2
!pip install pyproj==3.6.1
!pip install pyproject_hooks==1.0.0
!pip install pyshp==2.3.1
!pip install PySocks==1.7.1
!pip install pytensor==2.18.6
!pip install pytest==7.4.4
!pip install python-apt==0.0.0
!pip install python-box==7.1.1
!pip install python-dateutil==2.8.2
!pip install python-louvain==0.16
!pip install python-slugify==8.0.4
!pip install python-utils==3.8.2
!pip install pytz==2023.4
!pip install pyviz_comms==3.0.2
!pip install PyWavelets==1.6.0
!pip install PyYAML==6.0.1
!pip install pyzmq==23.2.1
!pip install qdldl==0.1.7.post0
!pip install qudida==0.0.4
!pip install ratelim==0.1.6
!pip install referencing==0.34.0
!pip install regex==2023.12.25
!pip install requests==2.31.0
!pip install requests-oauthlib==1.3.1
!pip install requirements-parser==0.9.0
!pip install rich==13.7.1
!pip install rpds-py==0.18.0
!pip install rpy2==3.4.2
!pip install rsa==4.9
!pip install safetensors==0.4.2
!pip install scikit-image==0.19.3
!pip install scikit-learn==1.2.2
!pip install scikit-multilearn==0.2.0
!pip install scipy==1.11.4
!pip install scooby==0.9.2
!pip install scs==3.2.4.post1
!pip install seaborn==0.13.1
!pip install SecretStorage==3.3.1
!pip install Send2Trash==1.8.2
!pip install sentencepiece==0.1.99
!pip install sentry-sdk==1.44.1
!pip install setproctitle==1.3.3
!pip install setuptools==67.7.2
!pip install shapely==2.0.3
!pip install six==1.16.0
!pip install sklearn-pandas==2.2.0
!pip install smart-open==6.4.0
!pip install smmap==5.0.1
!pip install sniffio==1.3.1
!pip install snowballstemmer==2.2.0
!pip install sortedcontainers==2.4.0
!pip install soundfile==0.12.1
!pip install soupsieve==2.5
!pip install soxr==0.3.7
!pip install spacy==3.7.4
!pip install spacy-legacy==3.0.12
!pip install spacy-loggers==1.0.5
!pip install Sphinx==5.0.2
!pip install sphinxcontrib-applehelp==1.0.8
!pip install sphinxcontrib-devhelp==1.0.6
!pip install sphinxcontrib-htmlhelp==2.0.5
!pip install sphinxcontrib-jsmath==1.0.1
!pip install sphinxcontrib-qthelp==1.0.7
!pip install sphinxcontrib-serializinghtml==1.1.10
!pip install SQLAlchemy==2.0.29
!pip install sqlglot==20.11.0
!pip install sqlparse==0.4.4
!pip install srsly==2.4.8
!pip install stanio==0.5.0
!pip install statsmodels==0.14.1
!pip install sympy==1.12
!pip install tables==3.8.0
!pip install tabulate==0.9.0
!pip install tbb==2021.12.0
!pip install tblib==3.0.0
!pip install tenacity==8.2.3
!pip install tensorboard==2.15.2
!pip install tensorboard-data-server==0.7.2
!pip install tensorflow==2.15.0
!pip install tensorflow-datasets==4.9.4
!pip install tensorflow-estimator==2.15.0
!pip install tensorflow-gcs-config==2.15.0
!pip install tensorflow-hub==0.16.1
!pip install tensorflow-io-gcs-filesystem==0.36.0
!pip install tensorflow-metadata==1.14.0
!pip install tensorflow-probability==0.23.0
!pip install tensorstore==0.1.45
!pip install termcolor==2.4.0
!pip install terminado==0.18.1
!pip install text-unidecode==1.3
!pip install textblob==0.17.1
!pip install tf_keras==2.15.1
!pip install tf-slim==1.1.0
!pip install thinc==8.2.3
!pip install threadpoolctl==3.4.0
!pip install tifffile==2024.2.12
!pip install tinycss2==1.2.1
!pip install tokenizers==0.15.2
!pip install toml==0.10.2
!pip install tomli==2.0.1
!pip install toolz==0.12.1
!pip install torch==2.2.1+cu121
!pip install torchaudio==2.2.1+cu121
!pip install torchdata==0.7.1
!pip install torchsummary==1.5.1
!pip install torchtext==0.17.1
!pip install torchvision==0.17.1+cu121
!pip install tornado==6.3.3
!pip install tqdm==4.66.2
!pip install traitlets==5.7.1
!pip install traittypes==0.2.1
!pip install transformers==4.38.2
!pip install triton==2.2.0
!pip install tweepy==4.14.0
!pip install typer==0.9.4
!pip install types-pytz==2024.1.0.20240203
!pip install types-setuptools==69.2.0.20240317
!pip install typing_extensions==4.10.0
!pip install tzdata==2024.1
!pip install tzlocal==5.2
!pip install uc-micro-py==1.0.3
!pip install uritemplate==4.1.1
!pip install urllib3==2.0.7
!pip install vega-datasets==0.9.0
!pip install wadllib==1.3.6
!pip install wandb==0.16.6
!pip install wasabi==1.1.2
!pip install wcwidth==0.2.13
!pip install weasel==0.3.4
!pip install webcolors==1.13
!pip install webencodings==0.5.1
!pip install websocket-client==1.7.0
!pip install Werkzeug==3.0.2
!pip install wheel==0.43.0
!pip install widgetsnbextension==3.6.6
!pip install wordcloud==1.9.3
!pip install wrapt==1.14.1
!pip install xarray==2023.7.0
!pip install xarray-einstats==0.7.0
!pip install xgboost==2.0.3
!pip install xlrd==2.0.1
!pip install xxhash==3.4.1
!pip install xyzservices==2023.10.1
!pip install yarl==1.9.4
!pip install yellowbrick==1.5
!pip install yfinance==0.2.37
!pip install zict==3.0.0
!pip install zipp==3.18.1
